<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue radio</title>
  <script src="./js/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{message}}</h1>
    <input type="radio" v-model="gender" value="男">男
    <input type="radio" v-model="gender" value="女">女
    <div>radio selectd : {{gender}}</div>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      gender: '男'
    },
    mounted() {
      console.log('a' === 'a')
    },
  })
</script>
</html>
